<!-- Site footer -->
<footer class="site-footer mt-5 p-md-3">
    <div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="text-white">About</h2>
                <p class="text-justify">
                    <i>CODE WANTS TO BE SIMPLE </i> A constant force, acting on a particle of mass m,
                    will produce a constant acceleration a. Let us choose the x-axis to be in the common
                    direction of F and a. What is the work done by this force
                    on the particle in causing a displacement x? We have, for constant acceleration, the
                    relations a = ( V - v ) / t and x = ½ ( V + v ) t. Here v is the particle's speed at
                    t = 0 and V is its speed at time t. The the work done
                    is W = F x = m a x = m ( ( V - v ) / t ) ( ½ ( V + v ) ) t = ½ m V² - ½ m v². We
                    call one-half the product of the mass of a body and the square of its speed the
                    kinetic energy of the body. If we represent kinetic energy by
                    the symbol K, then K = ½ m v². We may then state the above equation in this way: The
                    work done by the resultant force acting on a particle is equal to the change in the
                    kinetic energy of the particle.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li>
                        <a href="">Make</a>
                    </li>
                    <li><a href="">Model</a></li>
                    <li><a href="">Title</a></li>
                    <li><a href="">Owners</a></li>
                    <li><a href="">Insurance</a></li>
                    <li><a href="">Templates</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li>About Us</li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Contribute</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
                Copyright &copy; 2021 All Rights Reserved by
                <a href="#">DreamTeam#1</a>.
            </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
                <li>
                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</main>
</div>
<!-- <script src="../public/javascript/clickEvent.js"></script> -->


</body>

</html>